body {
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	margin: 0;
}

/*Fonts*/

h1 {
	font-family: 'Fjalla One', Helvetica, sans-serif;
	font-size: 4rem;
	margin: 0 0 15px 0;
	letter-spacing: 2px;
}

h2 {
	font-weight: normal;
	font-size: 1.25em;
	margin-top: 0;
}

h3 {
	font-weight: normal;
	font-size: 1em;
}

p {
	margin-top: 0;
	font-size: 1rem;
	line-height: 1.5;
}

a {
	color: #000;
}

/*Containers*/

.container {
	width: 55vw;
}

.c_purple {
	border-left: 10px solid #9B58B6;
	padding: 30px 0 30px 30px;
}

.c_blue {
	border-left: 10px solid #3396D9;
	padding: 30px 0 30px 30px;
}

.c_green {
	border-left: 10px solid #2CCA71;
	padding: 30px 0 30px 30px;
}

.c_teal {
	border-left: 10px solid #3CC5AA;
	padding: 30px 0 30px 30px;
}

.c_yellow {
	border-left: 10px solid #F1C42C;
	padding: 30px 0 30px 30px;
}

.c_orange {
	border-left: 10px solid #E57E22;
	padding: 30px 0 30px 30px;
}

.c_red {
	border-left: 10px solid #E64C3A;
	padding: 30px 0 30px 30px;
}


.lists {
	list-style: none;
	margin-bottom: 0;
}

.lists li {
	margin-bottom: 10px;
}

ul.lists > li:before {
  content: "-";
  margin-right: 5px;
}

.ml-s {
	margin-left: 20px;
}

.ml {
	margin-left: 40px;
}

/*Media Queries*/

@media screen and (max-width: 550px) {
  .container {
		width: 85vw;
	}
	.ml {
		margin-left: 20px;
	}
}
